@font-face {
    font-family: 'Vactory Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Vactory Sans Regular'), url('../assets/fonts/VactorySansRegular-drrAV.woff') format('woff');
}