:root {
    --dynamic-from-size: 20px;
    --dynamic-to-size: 20px;
    --arrow-size: 20px;
    --select-from-size: calc(var(--dynamic-from-size) + var(--arrow-size));
    --select-to-size: calc(var(--dynamic-to-size) + var(--arrow-size));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Vactory Sans Regular', sans-serif;
    background-color: #1a1b4f;
}

header {
    height: 15%;
    font-size: large;
    padding-top: 20px;
    border-bottom: 1px solid white;
}

.titleheader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titletext {
    color: white;
    font-size: 400%;
}

main {
    height: 85%;
}

.maincontainer {
    height: 100%;
}

.leftcontainer {
    display: block;
    height: 100%;
    width: 50%;
}

.rightcontainer {
    display: block;
    position: absolute;
    top: 15%;
    left: 50%;
    height: 85%;
    width: calc(50% - 1px);
    border-left: 1px solid white;
}

.sectionheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: white;
    font-size: 300%;
    padding-top: 2%;
}

textarea {
    width: 90%;
    height: 75%;
    background-color: #1a1b4f;
    margin: auto;
    display: block;
    color: white;
    font-size: 150%;
    border: 2px solid white;
    border-radius: 4vh;
    resize: none;
    cursor: auto;
    padding-left: 2.5%;
    padding-top: 2%;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.selectwrapper {
    color: white;
    width: max-content;
    white-space: nowrap;
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    margin: auto;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #1a1b4f;
    background: none;
    border: none;
    color: white;
    font-family: 'Vactory Sans Regular', sans-serif;
    padding: .5%;
    font-size: 102%;
    scrollbar-color: white #1a1b4f;
    cursor: pointer;
    text-decoration: underline;
}

select:focus {
    outline: none;
}

#from {
    width: var(--select-from-size);
}

#to {
    width: var(--select-to-size);
}

select option {
    background-color: #1a1b4f;
    color: white;
    font-family: 'Vactory Sans Regular', sans-serif;
    border-radius: 4vh;
    padding: .5%;
    cursor: pointer;
    scrollbar-color: white #1a1b4f;
}

#translate {
    display: none;
}

.helper-element {
    position: absolute;
    top: 0;
    left: -9999px;
}

.switchLanguages {
    display: block;
    width: 40px;
    position: absolute;
    top: 23%;
    left: calc(50% - 19.4px);
}

.switchIcon {
    cursor: pointer;
    background-color: #1a1b4f;
    border: 1px solid white;
    border-radius: 50%;
}