* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Vactory Sans Regular', sans-serif;
    background-color: #1a1b4f;
}

header {
    height: 15%;
    font-size: xx-large;
    padding-top: 20px;
}

.titleheader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titletext {
    color: white;
}

main {
    height: 85%;
}

.maincontainer {
    height: 100%;
    background-color: green;
}

.leftcontainer {
    display: block;
    height: 100%;
    width: 50%;
    background-color: red;
}

.rightcontainer {
    display: block;
    position: absolute;
    top: 15%;
    left: 50%;
    height: 85%;
    width: 50%;
    background-color: blue;
}

.sectionheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: white;
    font-size: 300%;
}