* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Vactory Sans Regular', sans-serif;
    background-color: #1a1b4f;
}

header {
    height: 10%;
}

.titleheader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titletext {
    color: white;
}

main {
    height: 90%;
}

.maincontainer {
    height: 100%;
    background-color: green;
}

.leftcontainer {
    display: block;
    height: 100%;
    width: 50%;
    background-color: red;
}

.rightcontainer {
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    height: 90%;
    width: 50%;
    background-color: blue;
}